* {
  transition: 0.3s ease-in-out;
  --bg-color: #f7c7e8;
  --med-color: #ffa4db;
  --bg-color-dark: #4d334d;
  --shadow: rgb(119, 29, 100);
}

.main {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 30%;
}

.right {
  display: flex;
  width: 70%;
}

.css-heg063-MuiTabs-flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.tab {
  background-color: var(--bg-color-dark);
}

.MuiTab-label {
  display: flex;
  justify-content: flex-start;
}

.light .modal {
  background-color: var(--bg-color);
}

.dark .modal {
  background-color: var(--bg-color-dark);
}
