.main {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 30%;
}

.right {
  display: flex;
  width: 70%;
}

.css-heg063-MuiTabs-flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.tab,
.dark {
  background-color: var(--bg-color-dark);
}

.light {
  background-color: var(--bg-color);
}

.MuiTab-label {
  display: flex;
  justify-content: flex-start;
}
