/* Root */
.modal-root {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
}

/* Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  width: 120vw;
  height: 100vh;
  background-color: black;
  opacity: 0.6;
  z-index: 0;
}

/* Container */
.modal-container {
  position: fixed;
  width: 80vw;
  height: 80vh;
  margin: 10vh 10vw;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

/* Desktop layout */
@media (min-width: 768px) {
  .modal-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Left side */
.modal-left {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 60vh;
}

@media (min-width: 768px) {
  .modal-left {
    max-height: 100vh;
    width: 40vw;
  }
}

/* Main image / video */
.modal-main-img {
  max-width: 65%;
  /* max-height: 70vh !important; */
  width: auto;
}

/* Thumbnails */
.modal-thumbnails {
  width: 30vw;
  height: 5vw;
  display: flex;
  overflow-x: scroll;
  margin-top: 2vh;
}

.modal-thumb-img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 0.5vw;
  cursor: pointer;
}

/* Right panel */
.modal-right {
  background-color: #fff7ed; /* orange-50 */
  display: flex;
  align-self: center;
  width: 80vw;
  height: fit-content;
  max-height: 80vh;
  overflow-y: scroll;
  border-radius: 0.5rem;
  justify-self: end;
  padding: 2vw;
}

@media (min-width: 768px) {
  .modal-right {
    width: 40vw;
    position: fixed;
  }
}

/* Inner right content */
.modal-right-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Title */
.modal-title {
  font-size: 3rem !important;
  text-align: center;
  margin-bottom: 1vh;
  z-index: 3;
}

/* Meta row */
.modal-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
  font-size: 1.8rem;
}

/* Description */
.modal-desc {
  margin: 1vh 0;
  font-size: 2vw;
}

@media (min-width: 768px) {
  .modal-desc {
    font-size: 1.5rem;
  }
}

/* Awards */
.modal-awards {
  font-size: 1.2rem;
}
