* {
  transition: 0.3s ease-in-out;
}

main {
  max-width: 100%;
}

.box-grid {
  display: grid;
  width: 90vw;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: start;
  /* align-items: center; */
}

.box {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  /* border: 5px solid var(--bg-color-dark); */
  /* box-shadow: 5px 10px rgb(33, 15, 93, 0.8); */
  transition: 0.5s;
  background-color: rgb(131, 119, 184, 0.5);
  padding-bottom: 0.5rem;
  margin: 1rem !important;
}

.box:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.box > p {
  margin-top: 0.5rem !important;
}

p {
  font-size: 1rem;
}

.content > p {
  align-self: flex-start;
}
.dark > main > div > img,
.dark > main > div > div > img,
.dark > main > div > div > div > img {
  border: 5px solid #ddddfd;
}

.light > main > div > img,
.light > main > div > div > img,
.light > main > div > div > div > img {
  border: 5px solid rgb(33, 15, 93, 0.8);
}

img,
video {
  max-width: 85% !important;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.img-overlay {
  /* position: absolute; */
  /* opacity: 0.5; */
  z-index: 3;
  border-radius: 50%;
  padding: 1rem 0rem 0.5rem 0rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem !important;
}

.top > img {
  width: 100%;
  /* border: 10px solid var(--bg-color-dark); */
}

.top > h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 2rem 5rem !important;
}

h3 {
  font-size: 2rem !important;
  margin-bottom: 1rem !important;
}

.amsog {
  width: 46vw;
  margin-top: 1rem;
  justify-self: center;
  display: flex;
  /* border: 10px solid var(--bg-color-dark); */
}

.content {
  display: grid;
  margin: 0 1rem;
  width: fit-content;
  height: fit-content;
  margin-right: 1rem;
  align-items: center;
  justify-content: center;
}

.mocks,
.mockst,
.mockss {
  display: flex;
  justify-content: space-around;
}

.mockst > img {
  height: 55vh !important;
  /* border: 10px solid var(--bg-color-dark); */
  margin: 3rem 2rem;
  width: auto;
}

.mocks > img {
  width: 40vw;
  /* border: 10px solid var(--bg-color-dark); */
  margin-bottom: 2rem !important;
}

.mockss > img {
  width: 25vw;
  /* border: 10px solid var(--bg-color-dark); */
  margin-bottom: 2rem;
  margin-right: 1rem;
}

.mockt {
  margin: 0.5rem 0;
}

.lofi {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: left;
  margin: 0 5rem;
  height: fit-content;
}

.mobile {
  width: 30%;
}

.desktop {
  width: 80%;
}

.tablet {
  width: 40%;
}

.lofi > img {
  /* align-self: center; */
  justify-self: center;
}

.lofi > p {
  align-self: left;
}

#designg {
  width: 30rem;
  height: auto;
}

.btm {
  margin-bottom: 1rem;
}

.none {
  margin-bottom: 0;
}

@media (max-width: 1300px) {
  .top > h1 {
    font-size: 1.5rem !important;
    margin-right: 1rem;
    margin-left: 5rem;
  }

  .top {
    margin: 1rem;
  }

  h3 {
    font-size: 1rem !important;
  }
  p {
    font-size: small;
  }

  .content {
    width: fit-content;
    /* margin-right: 1rem; */
    align-items: center;
    justify-content: flex-start;
  }

  .content > p {
    align-items: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .amsog {
    max-width: 100%;
  }

  .mockst > img {
    max-width: 90% !important;
    height: auto;
  }

  #hifiimg1,
  #hifiimg2,
  #hifiimg3 {
    max-height: 18rem;
    height: max-content;
    width: auto;
  }
  .skill {
    font-size: x-small !important;
  }
}

#comp {
  width: 80%;
}

h3,
.btm {
  align-self: flex-start;
}

.skillswrap {
  max-width: 100%;
}

.skills {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.skill {
  margin: 0.5rem;
  border-radius: 10px;

  /* border: 4px solid var(--bg-color-dark); */
  font-family: var(--sans);
  padding: 2%;
  color: white;
  box-shadow: 5px 10px rgb(33, 15, 93, 0.8);
}
.React {
  background-color: rgb(138, 73, 158);
}
.HTML {
  background-color: rgb(99, 73, 158);
}

.CSS {
  background-color: rgb(77, 73, 158);
}
.Responsive {
  background-color: rgb(143, 73, 158);
  /* font-size: x-small; */
}

.TypeScript {
  background-color: rgb(73, 76, 158);
}

.Figma {
  background-color: rgb(73, 101, 158);
}

.sm {
  font-size: small !important;
  font-weight: 400;
  font-family: var(--sans);
  width: fit-content;
  padding: 0.5rem;
  box-shadow: 2px 5px rgb(33, 15, 93, 0.8);
  margin-right: 0;
}

.link > img {
  width: 100%;
  box-shadow: none;
  margin-bottom: 0;
}

.topbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  box-shadow: none;
  margin: 0.2rem;
  align-self: flex-end;
  width: 1rem;
  transform: translateY(10%);
}

.bxtitle {
  font-weight: 700;
  margin-left: 0.5rem;
  width: fit-content;
  justify-content: center;
  align-items: center;
  display: flex;
}

.innerbox {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  display: flex;
  height: fit-content;
}

.lil {
  justify-content: center;
}

@media (max-width: 1000px) {
  #hifiimg1,
  #hifiimg2,
  #hifiimg3 {
    max-height: 13rem;
    height: max-content;
    width: auto;
  }
  .box-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  #hifiimg1,
  #hifiimg2,
  #hifiimg3 {
    max-height: 10rem;
    height: max-content;
    width: auto;
  }
  .top > h1 {
    font-size: 1.2rem !important;
  }
  .skill {
    border-radius: 7px;
  }
}

@media (max-width: 700px) {
  #hifiimg1,
  #hifiimg2,
  #hifiimg3 {
    max-height: 8rem;
    height: max-content;
    width: auto;
  }
  .top > h1 {
    font-size: 1rem !important;
  }
}

@media (max-width: 600px) {
  #hifiimg1,
  #hifiimg2,
  #hifiimg3 {
    max-height: 7rem;
    height: max-content;
    width: auto;
  }
  .box-grid {
    display: grid;
    width: 90vw;
    grid-template-columns: 1fr;
    justify-content: start;
    /* align-items: center; */
  }
}

@media (max-width: 500px) {
  p {
    /* font-size: xx-small !important; */
  }
}
