@import url(https://use.typekit.net/zst0kpr.css);
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lilita+One&family=Rosarivo:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lilita+One&family=Rosarivo:ital@0;1&display=swap");

:root {
  --bg-main: #f6daec;
  --bg-color: #f6efda;
  --med-color: #ba1a7a40;
  --bg-color-dark: #1e1920;
  --hfontcolor: #93006e;
  --btmfontcolor: #73008d;
  --darkbg: #550099;
  --quador: "quador", serif;
  --sans: "basic-sans", sans-serif, 300;
  --rosarivo: "Rosarivo", cursive;
  --jost: "Jost", sans-serif;
  justify-content: center;
  display: flex;
  color: var(--bg-color-dark);

  --tagpinklow: #ff42e940;
  --tagpurplelow: #9934ff40;
  --tagbluelow: #3138ff40;
  --tagcyanlow: #2790ff40;
  --tagyellowlow: #f049ff40;

  --tagpink: #ff42e9;
  --tagpurple: #9934ff;
  --tagblue: #3138ff;
  --tagcyan: #2790ff;
  --tagyellow: #f049ff;
}

.lighttop > .bgimg > .orange {
  background: var(--bg-color);
}

.darktop > .bgimg > .orange {
  background-color: var(--darkbg);
}

.lighttop > .bgimg > .orange > div > .title > h1,
.lighttop > .bgimg > .orange > div > h1 {
  color: var(--hfontcolor);
}

.darktop > .bgimg > .orange > div > .title > h1,
.darktop > .bgimg > .orange > div > h1 {
  color: var(--bg-main);
}

nav {
  display: flex;
  justify-content: space-between;
  margin-left: 1vw !important;
  /* background-color: var(--bg-color); */
  opacity: 0.8;
  position: fixed;
  width: 97vw;
  left: 2vw;
  z-index: 5;
}

.navbar-light {
  color: var(--bg-color) !important;
}

.navbar-dark {
  color: var(--bg-color-dark) !important;
}

.dark h1,
.dark a {
  color: var(--bg-color);
}

.dark p {
  color: white;
}
.lighttop,
.darkme {
  background-color: var(--med-color);
}

.lightme {
  background-color: var(--bg-color);
}

a,
h1,
h3 {
  all: unset;
  font-family: var(--rosarivo);
  font-weight: 600 !important;
  color: var(--btmfontcolor);
}
p {
  font-size: 1.4rem;
  font-weight: 300;
}

h3 {
  font-family: var(--rosarivo);
  font-weight: 600 !important;
  /* font-style: italic; */
}

.dark h3 {
  color: var(--bg-color);
}

@layer base {
  ul,
  ol {
    list-style: revert-layer !important;
    margin: auto !important;
    padding-left: 2%;
  }
}

.right-links {
  display: flex;
  width: fit-content;
  margin-right: 3vw;
  z-index: 3;
  padding-top: 1vh;
}

.right-links > a {
  margin-right: 3vw;
}

main,
.dropdowns {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: fit-content;
}

.art-links > p,
.uiux-links > p,
.cs-links > p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.uiux:hover .dropdowns {
  display: flex !important;
  flex-direction: column;
  position: absolute;
}

h1 {
  font-size: 3.5rem;
  margin-top: 2vh !important;
}

.route-content {
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  top: 0;
  text-wrap: wrap;
  flex-wrap: wrap;
}

p,
p > a {
  margin: 0;
  font-family: var(--jost);
}

a :hover,
Link :hover {
  transform: scale(1.02);
}

.darkbtn,
.lightbtn {
  background-repeat: no-repeat;
  background-size: contain;
}

.darkbtn {
  background-image: url("/main/sun.svg");
}

.lightbtn {
  background-image: url("/main/moon.svg");
}

.left-links {
  width: 30%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 80%;
  }
}

.custom-shape-divider-top-1714497700 {
  position: absolute;
  /* top: 0; */
  transform: translateY(-1%);
  left: 0;
  width: 100%;
  line-height: 0;
}

.custom-shape-divider-top-1714497700 svg {
  position: relative;
  display: block;
  width: 100%;
  height: 116px;
}

.lightsvg {
  fill: none;
}

.darksvg {
  fill: none;
}

footer {
  /* background-color: var(--bg-color); */
  width: 100vw;
}

.d {
  background-color: unset;
  color: var(--bg-color);
}

.dex {
  background-color: var(--med-color);
  transform: translateY(8vh);
}

.lex {
  opacity: 0;
}

a > img {
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}
img {
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.dinst {
  background-image: url("/main/instagramlight.svg");
}

.dlinked {
  background-image: url("/main/linkedinlight.svg");
}

.ddiscord {
  background-image: url("/main/discordlight.svg");
}

.demail {
  background-image: url("/main/emaillight.svg");
}

.dgit {
  background-image: url("/main/githublight.svg");
}

.linst {
  background-image: url("/main/instagram.svg");
}

.llinked {
  background-image: url("/main/linkedin.svg");
}

.ldiscord {
  background-image: url("/main/discord.svg");
}

.lemail {
  background-image: url("/main/gmail.svg");
}

.lgit {
  background-image: url("/main/github.svg");
}

.lgit,
.linst,
.lemail,
.llinked,
.ldiscord,
.dgit,
.dinst,
.demail,
.dlinked,
.ddiscord {
  background-size: contain;
}

.hoverimg {
  background-image: url("/main/forgup.png");
}

.nothoverimg {
  background-image: url("/main/forg.png");
}

.hoverimg,
.nothoverimg {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50vw;
}

.lighttop > .bgimg,
body {
  background: var(--bg-main);
  background: -moz-linear-gradient(
    top,
    var(--bg-main) 85%,
    var(--bg-color) 97%
  );
  background: -webkit-linear-gradient(
    top,
    var(--bg-main) 85%,
    var(--bg-color) 100%
  );
  background: linear-gradient(
    to bottom,
    var(--bg-main) 85%,
    var(--bg-color) 100%
  );
}

.darktop > .bgimg,
.dark-mode {
  background: #4c012f;
  background: -moz-linear-gradient(top, #4c012f 30%, #9a6c00 97%);
  background: -webkit-linear-gradient(top, #4c012f 60%, #710071 100%);
  background: linear-gradient(to bottom, #4c012f 60%, #710071 100%);
}

.light > nav > div > a > .logo {
  background-image: url("/main/logo.png");
}

.dark > nav > div > a > .logo {
  background-image: url("/main/Logodark.png");
}
