@import url(https://use.typekit.net/zst0kpr.css);
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --bg-color: #cab4ce;
  --med-color: #7c6283;
  --bg-color-dark: #1e1920;
  --quador: "quador", serif;
  --sans: "basic-sans", sans-serif;
  justify-content: center;
  display: flex;
  color: var(--bg-color-dark);
}

body {
  /* margin-left: 1rem !important;
  margin-right: 1rem !important;
  margin-top: 1rem !important; */
  background-color: var(--bg-color);
}

.dark-mode {
  background-color: #1e1920;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem !important;
  /* background-color: var(--bg-color); */
  opacity: 0.8;
  position: fixed;
  width: 95vw;
  left: 5rem;
  z-index: 5;
}

.light h1,
.light a,
.light p {
  color: var(--bg-color-dark);
}

/* Dark mode */
.dark h1,
.dark a,
.dark p {
  color: #edddfc;
}

.lighttop {
  background-color: #7c6283;
}

.darkme {
  background-color: #7c6283;
}

.lightme {
  background-color: #cab4ce;
}

a,
h1 {
  all: unset;
  font-family: var(--quador);
  font-weight: 600 !important;
  font-style: italic;
  color: var(--bg-color-dark);
}

h3 {
  font-family: var(--quador);
  font-weight: 600 !important;
  font-style: italic;
}

@layer base {
  ul,
  ol {
    list-style: revert-layer !important;
    margin: auto !important;
    padding-left: 2%;
  }
}

.right-links {
  display: flex;
  width: fit-content;
  margin-right: 3rem;
  z-index: 3;
}

.right-links > a {
  margin-right: 3vw;
}

main,
.dropdowns {
  position: relative;
  padding-top: 5vh !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdowns {
  position: absolute;
  left: 86.5%;
  background-color: var(--bg-color-dark);
  color: var(--bg-color);
  padding: 1rem;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border-radius: 10px;
  width: 3rem;
  font-size: small;
  display: none;
}

.art-links > p,
.uiux-links > p,
.cs-links > p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.uiux:hover .dropdowns {
  display: flex !important;
  flex-direction: column;
  position: absolute;
}

h1 {
  font-size: 3rem;
  margin-top: 2rem !important;
}

.route-content {
  position: relative;
  display: flex;
  justify-content: center;
  top: 0;
  text-wrap: wrap;
  flex-wrap: wrap;
}

p,
p > a {
  margin: 0;
  font-family: var(--sans);
}

.darkbtn,
.lightbtn {
  background-repeat: no-repeat;
  background-size: contain;
}

.darkbtn {
  background-image: url("/main/sun.svg");
}

.lightbtn {
  background-image: url("/main/moon.svg");
}

.left-links {
  width: 30%;
}

.imgtxt {
  position: absolute;
  font-size: 3rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 80%;
  }
}

.custom-shape-divider-top-1714497700 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1714497700 svg {
  position: relative;
  display: block;
  width: calc(110% + 1.3px);
  height: 116px;
}

.lightsvg {
  fill: var(--med-color);
}

.darksvg {
  fill: var(--bg-color-dark);
}

footer {
  background-color: #cab4ce;
}

.d {
  background-color: unset;
  color: var(--bg-color);
}

.dex {
  background-color: var(--med-color);
  transform: translateY(4.9vh);
}

.lex {
  opacity: 0;
}
